################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeetCode/CopilotIndices/18.0.988.22099
/.vs/LeetCode/DesignTimeBuild
/.vs/LeetCode/FileContentIndex
/.vs/LeetCoding/CopilotIndices/18.0.988.22099
/.vs/LeetCoding.slnx/FileContentIndex
