################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LeetCode/CopilotIndices/18.0.988.22099
/.vs/LeetCode/DesignTimeBuild
/.vs/LeetCode/FileContentIndex
/.vs/LeetCoding/CopilotIndices/18.0.988.22099
/.vs/LeetCoding.slnx/FileContentIndex
/.vs/CopilotSnapshots
/.vs/LeetCode/copilot-chat/9ad30818/sessions
/.vs/LeetCode/CopilotIndices
/.vs/LeetCode/v17
/.vs/LeetCode/v18
/.vs/LeetCoding
/.vs/LeetCoding.slnx/v18
*.json
*.sqlite
/.vs/ProjectEvaluation
